server:
  port: 80
  variables:
    dev:
      callbackUrl: "https://2273-59-145-217-117.ngrok-free.app"
      stagingGatewayurl: "https://staging.gateway.proteantech.in/"
      signingPrivateKey: "Un205TSOdDXTq8E+N/sJOLJ8xalnzZ1EUP1Wcv23sKx70fOfFd4Q2bzfpzPQ+6XZhZv65SH7Pr6YMk8SuFHpxQ=="
      bapId: "mobility-staging.ondc.org"
      uniqueKeyId: "UK-MOBILITY"
    prod:
      callbackUrl: "https://2273-59-145-217-117.ngrok-free.app"
      stagingGatewayurl: "https://staging.gateway.proteantech.in/"
      signingPrivateKey: "Un205TSOdDXTq8E+N/sJOLJ8xalnzZ1EUP1Wcv23sKx70fOfFd4Q2bzfpzPQ+6XZhZv65SH7Pr6YMk8SuFHpxQ=="
      bapId: "mobility-staging.ondc.org"
      uniqueKeyId: "UK-MOBILITY"
flows:
  - summary: Metro - Station Code Based Flow
    id: metro-flow-1
    domain: ONDC:TRV11
    sessionData:
      bpp_uri: "https://mobility-staging.ondc.org/seller/"
      bpp_id: "mobility-staging.ondc.org"
      collectedBy: BAP
      bankAccountNumber: "xxxxxxxxxxxxxx"
      virtualPaymentAddress: "9988199772@okicic"
      bankCode: "XXXXXXXX"
      metro_id: "1"
      categories:
      - descriptor:
          name: Ticket
          code: TICKET
        id: C1
      - descriptor:
          name: Pass
          code: PASS
        id: C2      
      metro_starttime: "2023-09-14T05:30:00.000Z"
      metro_endtime: "2023-09-14T23:30:00.000Z"
      metro_images:
        - url: https://delhimetrorail.com/logos/logo.ico
      metro_name: "Delhi Metro Rail Limited"
      currency: INR
      payment_tags:    
        BUYER_FINDER_FEES:
          display: false
          # BUYER_FINDER_FEES_TYPE: percent-annualized
          BUYER_FINDER_FEES_PERCENTAGE: "1"
        SETTLEMENT_TERMS:
          display: false
          SETTLEMENT_WINDOW: PT30D
          SETTLEMENT_BASIS: INVOICE_RECEIPT
          MANDATORY_ARBITRATION: "TRUE"
          COURT_JURISDICTION: New Delhi
          STATIC_TERMS: "https://api.example-bpp.com/booking/term"
        SETTLEMENT_DETAILS:
          display: false
          SETTLEMENT_TYPE: UPI
      tags:
        SCHEDULED_INFO:
          display: false
          GTFS: https://metro-transit/gtfs-realtime
          
      cancellation_terms:
      - external_ref:
          mimetype: text/html
          url: https://transitsolutions.com/mf/tnc.html
      payment_type: PRE-ORDER
        
    input:
      $ref: ./configs/metro-flow-1/input.yaml
    protocol:
      $ref: ./configs/metro-flow-1/protocolMapping.yaml
    calls:
      $ref: ./configs/metro-flow-1/protocolCalls.yaml
    # api:
    #   search:
    #     default:
    #       callback: "on_search"
    #     get_all_station_codes:
    #       condition:
    #           operation:
    #             type: AND
    #             input:
    #               value:
    #               - operation:
    #                   type: EQUAL
    #                   title: Check search message code
    #                   input:
    #                     value:
    #                       - operation:
    #                           type: READ
    #                           input:
    #                             value: "req_body.context.actions"
    #                       - undefined
    #               - operation:
    #                     type: EQUAL
    #                     title: Check search message code
    #                     input:
    #                       value:
    #                         - operation:
    #                             type: READ
    #                             input:
    #                               value: "req_body.context.domain2"
    #                         - "undefined"
    #               - operation:
    #                     type: EQUAL
    #                     title: Check search message code
    #                     input:
    #                       value:
    #                         - operation:
    #                             type: READ
    #                             input:
    #                               value: "req_body.context.version22"
    #                         - undefined
    #       callback: "getallstationcode"
    #       service_url: http://localhost:5500
    #   select:
    #     default:
    #       callback: "on_select"
    #     get_all_station_codes:
    #       condition:
    #           operation:
    #             type: AND
    #             input:
    #               value:
    #               - operation:
    #                   type: EQUAL
    #                   title: Check search message code
    #                   input:
    #                     value:
    #                       - operation:
    #                           type: READ
    #                           input:
    #                             value: "req_body.context.action"
    #                       - select
    #       callback: "getfare"
    #       service_url: http://localhost:5500
    #   init:
    #     default:
    #       callback: "on_init"
    #     get_all_station_codes:
    #       condition:
    #           operation:
    #             type: AND
    #             input:
    #               value:
    #               - operation:
    #                   type: EQUAL
    #                   title: Check search message code
    #                   input:
    #                     value:
    #                       - operation:
    #                           type: READ
    #                           input:
    #                             value: "req_body.context.action"
    #                       - init
    #       callback: "getfare"
    #       service_url: http://localhost:5500
    #   confirm:
    #     default:
    #       callback: "on_confirm"
    #     get_all_station_codes:
    #       condition:
    #           operation:
    #             type: AND
    #             input:
    #               value:
    #               - operation:
    #                   type: EQUAL
    #                   title: Check search message code
    #                   input:
    #                     value:
    #                       - operation:
    #                           type: READ
    #                           input:
    #                             value: "req_body.context.action"
    #                       - confirm
    #       callback: "confirmticket"
    #       service_url: http://localhost:5500
    api:
      search:
        default:
          callback: "on_search"
        get_all_station_codes:
          condition:
              operation:
                type: AND
                input:
                  value:
                  - operation:
                      type: EQUAL
                      title: Check search message code
                      input:
                        value:
                          - operation:
                              type: READ
                              input:
                                value: "req_body.context.action"
                          - search
          service_url: http://localhost:5500/getallstationcode
      select:
        default:
          callback: "on_select"
        get_all_station_codes:
          condition:
              operation:
                type: AND
                input:
                  value:
                  - operation:
                      type: EQUAL
                      title: Check search message code
                      input:
                        value:
                          - operation:
                              type: READ
                              input:
                                value: "req_body.context.action"
                          - select
          service_url: http://localhost:5500/getfare
      init:
        default:
          callback: "on_init"
        get_all_station_codes:
          condition:
              operation:
                type: AND
                input:
                  value:
                  - operation:
                      type: EQUAL
                      title: Check search message code
                      input:
                        value:
                          - operation:
                              type: READ
                              input:
                                value: "req_body.context.action"
                          - init
          service_url: http://localhost:5500/getfare
      confirm:
        default:
          callback: "on_confirm"
        get_all_station_codes:
          condition:
              operation:
                type: AND
                input:
                  value:
                  - operation:
                      type: EQUAL
                      title: Check search message code
                      input:
                        value:
                          - operation:
                              type: READ
                              input:
                                value: "req_body.context.action"
                          - confirm
          service_url: http://localhost:5500/confirmticket
 
    schema:
      $ref: ./schema/TRV/index.yaml
    additioalFlows:
      - key: metro cancel flow
        value: metro-cancel-flow-1
  
  
  
  - summary: metro cancel flow
    shouldDispaly: false # check
    id: metro-cancel-flow-1
    domain: ONDC:TRV11
    input:
      $ref: ./configs/metro-cancel-flow-1/input.yaml
    protocol:
      $ref: ./configs/metro-cancel-flow-1/protocolMapping.yaml
    calls:
      $ref: ./configs/metro-cancel-flow-1/protocolCalls.yaml
  - summary: Metro - Station Code Based Flow(without select call)
    id: metro-flow-2
    domain: ONDC:TRV11
    sessionData:
      collectedBy: BAP
      bankAccountNumber: "123456789"
      virtualPaymentAddress: "adasd@okiciic"
      bankCode: "fj3jf9ij3f02"
    input:
      $ref: ./configs/metro-flow-2/input.yaml
    protocol:
      $ref: ./configs/metro-flow-2/protocolMapping.yaml
    calls:
      $ref: ./configs/metro-flow-2/protocolCalls.yaml
  - summary: on demand complete flow
    domain: ONDC:TRV10
    id: ondemand-flow-1
    input:
      $ref: ./configs/ondemand-flow-1/input.yaml
    protocol:
      $ref: ./configs/ondemand-flow-1/protocolMapping.yaml
    calls:
      $ref: ./configs/ondemand-flow-1/protocolCalls.yaml

# name: world